
table {
    width: 100%;
    margin-top: 10px;
  }

.filter-input{
  margin-left : 1%;
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-form-field {
    font-size: 14px;
    width: 30%;
    
  }


  .mat-input-flex.mat-form-field-flex{
    border: 1px solid black;
  }

  

  table{
    position: absolute;
    border-collapse: separate !important;
    border-radius: 8px;
    background-color: #222437;
    border: 3px solid rgb(231, 227, 227);
    min-height: 200px;
    min-height: 201px;

  }

  #add-user{
    position: absolute;
    right: 10px;
    background-color: #606a96;
}

.mat-cell{
  color : white;
}

.mat-header-cell{  
  color : white;
}