<div class="action-for-user">
  <div class="filter-user">
    <p id="filter-user-text">User</p>
    <input matInput class="filter-input" (keyup)="applyFilter($event.target.value)" id="applyFilter"
      placeholder="Filter" autocomplete="off">
  </div>
  <div class="add-user-button">
    <button id="add-user" mat-button (click)="openAddUserDialog()">Add user</button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="username">
    <th mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header> Username</th>
    <td mat-cell class="table-cell" *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <th mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header> First Name </th>
    <td mat-cell class="table-cell" *matCellDef="let element"> {{element.firstname}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Last Name </th>
    <td mat-cell class="table-cell" *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell class="table-cell" *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="role.name">
    <th mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header> Role </th>
    <td mat-cell class="table-cell" *matCellDef="let element"> {{element.role.name}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell class="table-header" *matHeaderCellDef> Actions</th>
    <td mat-cell class="table-cell" *matCellDef="let element">
      <button mat-icon-button (click)="editUserDetails(element)" [disableRipple]="true">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="isSuperAdmin" mat-icon-button (click)="deactivateUser(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>