.out-rect {
    width: 109%;
    height: 185%;
    overflow: hidden;
    background: #222437;
    border-radius: 12px;
    cursor: pointer;
}

.in-rect {
    margin: auto;
    width: 100px;
    height: 100px;
    background: rgb(34, 36, 55, 0.3);
    border-radius: 7px;
}


.in-rect img {
    margin: auto;
    width: 72px;
    height: 72px;
    margin-top: 17%;
}

.item-text {
    margin-top: 20%;
    margin-left: 7%;
    text-align: center;
    width: 106px;
    font-style: normal;
    font-size: 16px;
    color: #f3f3f3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


