.out-rect {
  overflow: hidden;
  background: #222437;
  border-radius: 12px;
  cursor: pointer;
  height: 168px;
}

.in-rect {
  display: flex;
  height: 100px;
  background: rgb(34, 36, 55, 0.3);
}

.in-rect img {
  margin: auto;
  flex: 1 1 auto;
  width: 20px;

  height: 72px;
}

.item-text {
  margin: auto;
  text-align: center;
  width: 106px;
  color: #f3f3f3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
