*:focus {
  outline: none;
}

.font-weight-bold  {
  color: white;
}

.mat-cell,
.mat-footer-cell {
  font-size: 14px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  margin: 10px;
  text-align: left;
}

.table-container {
  position: relative;
  top: 5%;
  width: 96%;
  height: 90%;
  margin: 10px 0 0 24px;
}

.table-container > h4 {
  margin-top: inherit;
}

tr.example-detail-row {
  background-color: #222437;
  cursor: none;
  height: 0;
}

.example-element-row td {
  color: white;
}

th {
  color: #9597ab;
  font-size: medium;
}

.example-element-row :hover {
  color: white;
}

.example-element-row td {
  border-bottom-width: 0;
  padding-left: 8px;
}

table {
  background-color: #222437;
  width: 100%;
}

.viewAllStoreEntries {
  position: absolute;
  right: 24px;
  top: 10px;
  cursor: pointer;
}

.viewAllStoreEntries > p {
  text-decoration: none;
  border: 0.5px solid;
  border-radius: 5px;
  padding: 1px 10px;
  margin-top: 13px;
  color: #42e6a4;
  height: 24px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 8px;
  width: 30%;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0px;
}

.mat-icon-button[disabled]{
  color: gray !important;
}

.mat-paginator {
  background-color: #222437;
  color: white;
}

:host ::ng-deep .mat-select-value {
  color: white;
}

:host ::ng-deep .mat-select-arrow {
  color: white;
}

.items-container {
  margin: 0px 20px 10px 10px;
  top: 20px;
  background-color: #222437;
  border-radius: 8px;
  overflow: auto;
  position: relative;
  color: white;
  overflow: hidden;
}
