.items-container {
    background-color: #1f2132;
    border-radius: 8px;
    overflow: auto;
    position: relative;
    color: white;
    height: 100%;
}

*:focus {
    outline: none;
}

.mat-cell,
.mat-footer-cell {
    font-size: 12px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.flex-container>div {
    text-align: left;
}

.container {
    margin-right: 0px;
    border-radius: 7px;
    position: relative;
    min-width: 290px;
    margin-top: 10px;
    height: 100%;
}

.container>h4 {
    margin-top: inherit;
}

tr.example-detail-row {
    background-color: #1f2132;
    cursor: none;
    height: 0;
}

.example-element-row td {
    color: beige;
}


th {
    color: #9597ab;
    font-size: medium;
    text-transform: uppercase;
}

.example-element-row :hover {
    color: white;
}


.example-element-row td {
    border-bottom-width: 0;
    padding-left: 8px;
}

table {
    background-color: #1f2132;
    width: 100%;
}

.viewAllStoreEntries {
    position: absolute;
    right: 24px;
    top: 10px;
    cursor: pointer;
}

.viewAllStoreEntries>p {
    text-decoration: none;
    border: 0.5px solid;
    border-radius: 5px;
    padding: 1px 10px;
    margin-top: 13px;
    color: #42e6a4;
    height: 24px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 8px;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding-right: 0px;
}


.mat-icon-button[disabled] {
    color: gray !important
}


.mat-paginator  {
    background-color: #1f2132;
    color: beige;
    font-size: medium;
}

::ng-deep #mat-select-0 > div > div.mat-select-value {
    color: beige;
}

::ng-deep #mat-select-0 > div > div.mat-select-arrow-wrapper > div.mat-select-arrow  {
    color: beige;
}