.items-container {
    /* margin: 0px 20px 10px 20px; */
    background-color: #1f2132;
    border-radius: 8px;
    overflow: auto;
    position: relative;
    color: white;
    height: 100%;
    /* top: 20px; */
}

*:focus {
    outline: none;
}

.mat-cell,
.mat-footer-cell {
    font-size: 12px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.flex-container>div {
    /* margin: 10px; */
    text-align: left;
}

.container {
    margin-right: 0px;
    border-radius: 7px;
    position: relative;
    min-width: 290px;
    margin-top: 10px;
    height: 100%;
}

.container>h4 {
    margin-top: inherit;
}

tr.example-detail-row {
    background-color: #1f2132;
    height: 0;
}

.example-element-row td {
    color: beige;
    /* font-size: medium; */
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #484f71;
    color: white;
}

.example-element-row :hover {
    color: white;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
    padding-left: 8px;
}

table {
    background-color: #1f2132;
    width: 100%;
}

.viewAllStoreEntries {
    /* text-align: right; */
    position: absolute;
    right: 24px;
    top: 10px;
    cursor: pointer;
}

.viewAllStoreEntries>p {
    text-decoration: none;
    border: 0.5px solid;
    border-radius: 5px;
    padding: 1px 10px;
    margin-top: 13px;
    color: #42e6a4;
    height: 24px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 8px;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding-right: 0px;
}