<div class="bulk-container">
    <div class="heading">
        <p>Send Request</p>
    </div>

    <form class="form-container" autocomplete="off">
        <div class="one-row">
            <mat-form-field class="one-row-input" floatLabel="auto">
                <input required [(ngModel)]="date" [ngModelOptions]="{standalone: true}" matInput autocomplete="off"
                    [min]="minDate" [matDatepicker]="picker" (click)="picker.open()" placeholder="Reqirement Date"
                    onKeyDown="return false">
                <mat-datepicker-toggle class="date" matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="one-row-input" floatLabel="auto">
                <input matInput [(ngModel)]="reason" [ngModelOptions]="{standalone: true}"
                    placeholder="Requirement Reason" type="text" maxlength="100" required>
            </mat-form-field>
        </div>

        <div class="one-row">
            <p *ngIf="dataSourceItems.length == 0">No Items Added</p>
        </div>

        <div class="one-row table-height" *ngIf="dataSourceItems.length !== 0">
            <table mat-table class="table-size" [dataSource]="dataSource">
                <ng-container matColumnDef="itemName">
                    <th class="table-text" mat-header-cell *matHeaderCellDef> Item Name </th>
                    <td class="table-text" mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" class="form-field-size">
                            <mat-select [(ngModel)]="element.item" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let Item of Items" [value]="Item"
                                    [disabled]="isItemAlreadySelected(Item)">
                                    {{Item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="requestQuantity">
                    <th class="table-text" mat-header-cell *matHeaderCellDef> Quantity </th>
                    <td class="table-text" mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" class="form-field-size">
                            <input matInput maxlength="3" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="element.quantityOrdered" (keydown)="allowOnlyDigits($event)">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th class="table-text" mat-header-cell *matHeaderCellDef> Action </th>
                    <td class="table-text action-link" mat-cell *matCellDef="let element">
                        <div class="edit-delete-icon-center">
                            <button mat-icon-button class="delete-white-icon" (click)="DeleteRow(element)">
                                <mat-icon class="delete-icon-size">delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="one-row">
            <div class="add-row">
                <button mat-raised-button class="Add-icon" (click)="AddRow()">
                    <mat-icon class="icon">add</mat-icon>Add
                </button>
            </div>

            <div class="action-buttons">
                <div class="position-of-buttons">
                    <button mat-button type="submit" class="submit-update" 
                    (click)="Send()" [disabled]="!validForm()">
                        Submit<app-spinning-loader></app-spinning-loader>
                    </button>
                    <button mat-button type="button" class="cancel" (click)="CancelRequest()">Cancel</button>
                </div>
            </div>
        </div>

    </form>
</div>