:host ::ng-deep .mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: white;
  height: 65px;
  min-width: 190px;
}

.mat-tab-label {
  width: 50% !important;
}

:host {
  min-width: 100%;
}
