<div class="example-container">
  <form class="example-container" [formGroup]="createUserForm" (ngSubmit)="createUser()">
    <div>
      <label>Role: </label>
      <mat-radio-group>
        <mat-radio-button value="Admin">Admin</mat-radio-button>
        <mat-radio-button value="Clerk">Clerk</mat-radio-button>
        <mat-radio-button value="Shelf">Shelf</mat-radio-button>
      </mat-radio-group>
    </div>


    <mat-form-field hideRequiredMarker="false"
                    floatLabel="auto">
      <input matInput formControlName="userName" placeholder="First Name">
      <mat-error *ngIf="userName.invalid">Invalid Username</mat-error>
      <mat-error *ngIf="userName.errors?.minlength">Length{{userName.errors.minlength.requiredLength}}</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker="true"
                    floatLabel="auto">
      <input matInput placeholder="First Name" formControlName="firstName" required>
      <mat-error *ngIf="firstName.invalid">Invalid FirstName</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker="true"
                    floatLabel="auto">
      <input matInput placeholder="Last Name" formControlName="lastName">
      <mat-error *ngIf="lastName.invalid">Invalid</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker="false"
                    floatLabel="auto">
      <input matInput placeholder="Email" formControlName="userMail" required>
      <mat-error *ngIf="userMail.invalid">Invalid Email</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker="false"
                    floatLabel="auto">
      <input matInput placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="password.invalid">Invalid</mat-error>
    </mat-form-field>

    <button mat-button type="submit">Submit</button>
    <button mat-button type="cancel">Cancel</button>

  </form>
</div>
