.main-div {
  height: 100%;
  position: static;
}

.invoice-card  {
  background-color:#222437;
}

.items-card  {
  background-color:#222437; 
  margin-top: 30px;
}

.invoice-card-header  {
  color:white;
}

.invoice-card-content  {
  margin-top: 10px;
  color: white;
}

.order-id  {
  position: relative; 
  left: 16px;
  top: 4px;
}

.input-label  {
  color: slategray;
}

#invoice  {
  color: white;
}

.approvals-button  {
  float: right;
  justify-content: space-between;
}

.rejectButton {
  color: red !important;
  border: 1px solid red !important;
  margin-left: 15px;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  color: white;

  text-align: center;
  margin: 0;
  bottom: 17px;
  border: 0.5px solid slategray;
}

.vendor-details {
  height: 100%;
  width: 100%;
  background-color: #1c1e2f;
}

:host ::ng-deep .mat-card-header-text {
  margin: 0 0px;
}

.border {
  border: 1.5px solid #dee2e6 !important;
  border-radius: 0.25rem !important;
  padding: 8px 16px;
  cursor: pointer;
  border-color: #3f51b5;
}
.input_fileupload--hidden {
  display: none;
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: springgreen;
  border: 1px solid springgreen;
  margin-left: 15px;
}
.upload-submit-button-position {
  position: absolute;
  right: 24px;
  top: 227px;
}
.upload-button {
  background: black !important;
  color: white !important;
  margin-right: 12px;
  padding: 0px 9px 0px 4px;
}
.submit-button {
  background: black !important;
  color: white !important;
}
.mat-divider.mat-divider-inset {
  margin-left: 20px;
  margin-right: 20px;
}

:host ::ng-deep .mat-divider {
  display: block;
  margin: 0;
  border-top-width: 0.5px;
  border-top-style: solid;
  position: relative;
  top: 23px;
  background-color: white;
}

.table-vendor-details {
  position: relative;
  min-height: 290px;
  background-color: #222437;
  border-radius: 9px;
  width: 100%;
  top: 50px;
}
.mat-input-element:disabled {
  color: white;
}

.container {
  width: 100%;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
.ViewReceipt {
  border: 1px solid slateblue;
  color: white;
  background-color: #222437;
}

:host ::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(28, 30, 47, 0.8);
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  margin: 10px;
  text-align: left;
}

.container {
  margin-right: 3%;
  border-radius: 7px;
  overflow: auto;
  min-width: 100%;
}

.form-label-inclosing-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-labels-input {
  margin-top: 10px;
}

.action-container {
  display: flex;
  position: relative;
  height: 40px;
}

.mat-card-actions {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

:host ::ng-deep .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 166px;
}

.mat-form-field {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 90%;
}
