<div class="main-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Invoice</mat-card-title>
      <mat-card-subtitle>orderID:{{OrderID}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Received By: {{ClerkName}} Submitted To:{{ AdminName}}
      VendorName:{{VendorName}} InvoiceNo:{{InvoiceNo}}
      ChallanNo:{{ChallanNo}}
    </mat-card-content>
  </mat-card>
  <app-revisable-table [columnHeader]=columns [griddata]="itemquantityprice"></app-revisable-table>
</div>
