<div class="items-container">
  <div class="flex-container">
    <div class="container">
      <div class="vendor-details">
        <mat-card class="invoice-card">
          <mat-card-header class="invoice-card-header">
            <mat-card-title>Invoice</mat-card-title>
            <div class="order-id">Order ID:{{OrderID}}</div>
            <div class="modified-by-name">Last modified by {{ lastModifiedBy }}</div>
          </mat-card-header>
          <mat-divider [inset]="true"></mat-divider>
          <mat-card-content class="invoice-card-content">
            <div class="form-label-inclosing-class">
              <div class="form-labels-input">
                <div>Challan Number</div>
                <div>
                  <form class="example-form" autocomplete="off">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input matInput value="{{ChallanNo}}" disabled="true">
                    </mat-form-field>
                  </form>
                </div>
              </div>
              <div class="form-labels-input">
                <div>Invoice Number</div>
                <div>
                  <form class="example-form" autocomplete="off">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label class="input-label">Invoice Number</mat-label>
                      <input matInput [(ngModel)]="InvoiceNo"  min="1" maxlength="12"[ngModelOptions]="{standalone: true}" autocomplete="off"
                        id="invoice" placeholder="Invoice Number" value="{{InvoiceNo}}" [disabled]="isDisabled">
                    </mat-form-field>
                  </form>
                </div>
              </div>
              <div class="form-labels-input">
                <div>Received By</div>
                <div>
                  <form class="example-form" autocomplete="off">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input matInput value="{{ClerkName}}" disabled="true">
                    </mat-form-field>
                  </form>
                </div>
              </div>
              <div class="form-labels-input">
                <div>Submitted To</div>
                <div>
                  <form class="example-form" autocomplete="off">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input matInput value="{{ AdminName}}" disabled="true">
                    </mat-form-field>
                  </form>
                </div>
              </div>
              <div class="form-labels-input">
                <div>Vendor Name</div>
                <div>
                  <form class="example-form" autocomplete="off">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input matInput value="{{VendorName}}" disabled="true">
                    </mat-form-field>
                  </form>
                </div>
              </div>
            </div>
          </mat-card-content>
          <div class="action-container">
            <mat-card-actions>
              <button mat-button class="ViewReceipt" (click)="openDialog()">View Receipt</button>
              <div class="approvals-button">
                <button mat-button color="accent" (click)="approve()" [disabled]="isApprovedAndCannotEdit()">Approve</button>
                <button mat-button class="rejectButton" (click)="Reject()" [disabled]="isApprovedAndCannotEdit()">Reject</button>
              </div>
            </mat-card-actions>
          </div>
        </mat-card>
        <mat-card class="items-card">
          <mat-card-header class="invoice-card-header">
            <mat-card-title>Item Details</mat-card-title>
          </mat-card-header>
          <mat-divider [inset]="true"></mat-divider>
          <mat-card-content>
            <app-revisable-table [disabledCond]="isApprovedAndCannotEdit()" [columnHeader]=columns [(griddata)]="itemquantityprice" [ItemList]="Items"
              (ChangedFinalAmount)="finalPriceChange($event)">
            </app-revisable-table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>