<div class="form-container">
  <form class="form-container" [formGroup]="createUserForm" (ngSubmit)="createUser()">
    <div>
      <label>Role: </label>
      <mat-radio-group formControlName="role" >
        <mat-radio-button *ngFor="let role of roles" [value]="role">{{role.name}}</mat-radio-button>
      </mat-radio-group>
    </div>


  <mat-form-field
      floatLabel="auto">
    <input matInput formControlName="username" placeholder="UserName" required>
    <mat-error *ngIf="username.invalid">Invalid Username</mat-error>
    <mat-error *ngIf="username.errors?.minlength">Length{{username.errors.minlength.requiredLength}}</mat-error>
  </mat-form-field>
    
  <mat-form-field
      floatLabel="auto">
    <input matInput placeholder="First Name" formControlName="firstname" required>
    <mat-error *ngIf="firstname.invalid">Invalid firstname</mat-error>
  </mat-form-field>

  <mat-form-field
      hideRequiredMarker="true"
      floatLabel="auto">
    <input matInput placeholder="Last Name" formControlName="lastname">
    <mat-error *ngIf="lastname.invalid">Invalid</mat-error>
  </mat-form-field>

  <mat-form-field
      hideRequiredMarker="false"
      floatLabel="auto">
    <input matInput placeholder="Email" formControlName="email" required>
    <mat-error *ngIf="email.invalid">Invalid Email</mat-error>
  </mat-form-field>

  <mat-form-field
      hideRequiredMarker="false"
      floatLabel="auto">
    <input matInput placeholder="Password" formControlName="password" required>
    <mat-error *ngIf="password.invalid">Invalid</mat-error>
  </mat-form-field>

  <button mat-button type="submit">Submit</button>

    </form>
</div>