<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="employee-header">
    <div class="header-left">
        <span class="icon company-logo">
            <img src="../../../assets/IMS.Images/157595914143509549 (1).png" />
        </span>
    </div>
</div>

<div class="pick-item-container">
    <div class="field-area">
        <div class="text-area">
            <p>Hello, {{name}}</p>
        </div>
        <div class="action-container">
            <div class="input-box">
            <input id="search" (onKeyUp)="searchBox()" [(ngModel)]="searchText" type="text"
                placeholder="Search for an item..." >
            <i class="material-icons search-icon">search</i>    

            <button mat-button class="bulkRequest">Bulk Request</button>
        </div>
        </div>

    </div>
    <div class="flex-item-container">
        <div class="item-list" [ngStyle]="addWidthStyle()">
            <app-items-list (onItemAdd)="onItemClicked($event)" [shelfItems]="shelfItems | filter : searchText">
            </app-items-list>
        </div>
        <app-items-cart class="item-form" [selectedItems]="cartItems" (onCartItemDeleted)="onItemDeleted($event)">
        </app-items-cart>
    </div>
</div>