@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

.items-container[_ngcontent-axn-c5] {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    margin: 24px 24px 24px 24px;
    border-radius: 7px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.SearchProduct {
    /* width: 70vw; */
    margin: 20px 0px 0px 20px;
}

.search-bar {
    width: 180px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
    background-color: white;
    margin-left: 8px;
    margin-top: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-bar:focus {
    width: 90%;
}

.flex-container {
    display: flex;
    /* flex-wrap: nowrap; */
    background-color: #1c1e2f;
    /* box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12); */
}

.flex-container>div {
    margin: 10px;
    text-align: center;
}


.item-form {
    /* width: 70%; */
    margin: 10px;
    margin-right: 20px;
    /* background-color: #f1f1f1; */
}

.mat-card {
    text-align: center;
}

.mat-card {
    text-align: center;
}



 /* Employee Header */

 .employee-header span {
    float: left;
    color: #ffc04e;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    line-height: 25px;
    opacity: 0.9;
    margin-top: 21px;
    margin-left: 24px;
 }

.company-logo {
    font-size: 25px;
    font-weight: bold;
    float: left;
}

.icon img {
    height: 60px;
    width: auto;
    /* margin: 10px; */
    margin-top: -10%;
    margin-left: 35%;
}

.employee-header {
    overflow: hidden;
    background: #222437;
    height: 10%;
}

/* Field Area */

.field-area {
    position: relative;
}

.text-area {
    position: absolute;
    margin-top: 1.8%;   
    margin-left: 3.3%;
    font-size: xx-large;
    white-space: nowrap;
}

.text-area p {
    color: #f3f3f3;
    font-family: 'Inconsolata', monospace;
}

.container {
	position: absolute;
    margin-top: 0%;
    /* margin: auto; */
    margin-left: 76.5%;
    width: 300px;
    height: 100px;
}

.container .search {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: #222437;
	border-radius: 50%;
	transition: all 1s;
	z-index: 4;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.container .search:hover {
	cursor: pointer;
}

.container .search::before {
	content: "";
	position: absolute;
	margin: auto;
	top: 22px;
	right: 0;
	bottom: 0;
	left: 22px;
	width: 12px;
	height: 2px;
	background: white;
	transform: rotate(45deg);
	transition: all .5s;
}

.container .search::after {
	content: "";
	position: absolute;
	margin: auto;
	top: -5px;
	right: 0;
	bottom: 0;
	left: -5px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid white;
	transition: all .5s;
}

.container input {
	font-family: 'Inconsolata', monospace;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	outline: none;
	border: none;
	background: #222437;
	color: white;
	text-shadow: 0 0 10px #222437;
	padding: 0 80px 0 20px;
	border-radius: 30px;
	box-shadow: 0 0 25px 0 #222437, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
	transition: all 1s;
	opacity: 0;
	z-index: 5;
	font-weight: bolder;
	letter-spacing: 0.1em;
}

.container input:hover {
	cursor: pointer;
}

.container input:focus {
	width: 300px;
	opacity: 1;
	cursor: text;
}

.container input:focus ~ .search {
	right: -250px;
	background: #151515;
	z-index: 6;
}

.container input:focus ~ .search::before {
	top: 0;
	left: 0;
	width: 25px;
}

.container input:focus ~ .search::after {
	top: 0;
	left: 0;
	width: 25px;
	height: 2px;
	border: none;
	background: white;
	border-radius: 0%;
	transform: rotate(-45deg);
}

.container input::placeholder {
	color: white;
	opacity: 0.5;
	font-weight: bolder;
}