<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="rowDashBoardAndRefreshIcon">
        <h5 class="mr-4 mb-0 font-weight-bold" style="color: aliceblue;">
          Dashboard
        </h5>


        <div class="refreshIcon" (click)="onRefresh()">
          <p style="color: aliceblue;
          position: absolute;
          right: 0;
          padding-right: 10px;
          padding-top: 1px;">RAG Status</p>
          <i class="fa fa-refresh" id="refresh" style="font-size: 20px;
          color: #606a96;
          position: absolute;
          left: 8px;
          top: 4px;"></i>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-rag">

  <app-rag-status class="col-md-4 grid-margin stretch-card" *ngFor="let ragData of ragDatas" [ragData]="ragData">
  </app-rag-status>
</div>

<app-charts-component></app-charts-component>
<div class="container-stock-recent-entries">
  <div class="column-store-entries">
    <app-store [numberOfItems]='10' class="store"></app-store>
  </div>
  <div class="column-recent-entries">
    <app-recent-entries class="recent-entries"></app-recent-entries>
  </div>
</div>