<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="rowDashBoardAndRefreshIcon">
        <h5 class="font-weight-bold">Dashboard</h5>
        <div class="refreshIcon" (click)="onRefresh()">
          <p id="rag">RAG Status</p>
          <i class="fa fa-refresh" id="refresh"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-rag">
  <app-rag-status class="col-md-4 grid-margin stretch-card" *ngFor="let ragData of ragDatas" [ragData]="ragData">
  </app-rag-status>
</div>

<app-charts-component></app-charts-component>
<div class="container-stock-recent-entries">
  <div class="column-store-entries">
    <app-store [numberOfItems]='10' class="store"></app-store>
  </div>
  <div class="column-recent-entries">
    <app-recent-entries class="recent-entries"></app-recent-entries>
  </div>
</div>