.btn {
  margin-right: 58px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px;
}

.row-rag {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px;
}

.refreshIcon {
  border: 1px solid #42e6a4;
  border-radius: 6px;
  width: 121px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  position: relative;
}

.refresh-rag-status {
  position: relative;
  background-color: none;
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid #42e6a4;
  border-radius: 4px;
}

/* .stretch-card {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
} */

/* .flex {
  display: flex;
  position: fixed;
  right: 42px;
  top: 91px;
} */

.rowDashBoardAndRefreshIcon {
  display: contents;
  position: relative;
}

.column-store-entries {
  float: left;
  width: 55%;
  padding: 10px;
}
.column-recent-entries {
  float: left;
  width: 45%;
  padding: 10px;
}

.container-stock-recent-entries {
  width: 100%;
  /* height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px; */
}
/* Clear floats after the columns */
.container-stock-recent-entries:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column-recent-entries {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .column-store-entries {
    width: 100%;
  }
}
