<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-card class="bulk-order-card">
    <mat-card-header>
        <mat-card-title>Bulk Order</mat-card-title>
        <mat-card-subtitle>Requirement Reason : {{reasonForRequirement}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="bulk-card-content">
        <div class="form-label-inclosing-class">
            <div class="form-labels-input" *ngFor="let item of listOfFieldToBeDisplayed">
                <div>{{item.fieldName | humanize}}</div>
                <div>
                    <form class="example-form">
                        <mat-form-field appearance="outline" class="example-full-width">
                            <input matInput value="{{item.fieldValue}}" disabled="true">
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="bulk-order-card">
    <mat-card-content>
        <table class="table-class" mat-table [(dataSource)]="dataSource" multiTemplateDataRows>
            <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns;let i=index">
                <ng-container *ngIf="i < numberOfColumns()">
                    <th mat-header-cell *matHeaderCellDef> {{column | humanize}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>

                <ng-container *ngIf="i==numberOfColumns()">
                    <th mat-header-cell *matHeaderCellDef> {{column | humanize}} </th>
                    <td mat-cell *matCellDef="let element"> <button *ngIf="showApproveButton()" mat-icon-button (click)="addButtonClicked(element,$event)">
                            <mat-icon >add_circle</mat-icon>
                        </button>
                        <button *ngIf="!showApproveButton()" mat-icon-button>
                            <mat-icon >done</mat-icon>
                        </button>

                    </td>
                </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <mat-toolbar>
        <mat-toolbar-row class="form-label-inclosing-class">
            <button mat-button style="border: 1px red solid;" *ngIf="showCancelButton()" (click)="cancelClicked()" class="cancel">Cancel</button>
            <button mat-button style="border: 1px green solid;" *ngIf="showApproveButton()" (click)="approveClicked()" class="cancel">Approve</button>
            <button mat-button style="border: 1px red solid;" *ngIf="showRejectButton()" (click)="rejectClicked()" class="cancel">Reject</button>
            <button mat-button style="border: 1px red solid;" *ngIf="showReturnButton()" (click)="returnClicked()" class="cancel">Return</button>
        </mat-toolbar-row>
    </mat-toolbar>
</mat-card>