.card-size {
    height: 450px;
    /*margin-top: 2%;
    margin-left: 4%;*/
    /*margin-left:3%;*/
    width: 100%;
    background-color: #1f2132;
}

.card-title {
  color: #f5f5f5 !important;
}

.empty-items-display p {
  font-size: large;
  color: #f5f5f5;
}


.divider-position {
  padding-left: 4%;
  background-color: #f5f5f5;
}

:host ::ng-deep .form-field-size{
  margin-top:5% !important;
  width:80%;
}

.empty-items-display {
  height: 300px;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
}

.Add-icon{
  margin-top:0%;
}

.table-text {
  border-bottom-color: #f5f5f5 !important;
}

 .table-size {
  width: 100% ;
  background-color: #1f2132;
}

.delete-white-icon {
    color: white;
}

:host ::ng-deep .mat-select-value  {
  color: white;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #f5f5f5;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px!important;
  margin-bottom: 5px;
}
.mat-header-cell {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #f5f5f5 !important;
}

.delete-icon-size {
    font-size: 30px !important;
}

.input_fileupload--hidden {
    display: none;
}

.content-size {
    margin-top: 3%;
}

.table-height {
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}

.table-height::-webkit-scrollbar {
    width: 10px;
}

/* Track */

.table-height::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

.table-height::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

.table-height::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mat-raised-button {
  color: #f5f5f5;
  background-color: inherit;
  border: 1px solid slategrey;
}

.upload-icon-size {
    font-size: 22px !important;
}

.mat-icon-button {
    float: right !important;
}

.edit-delete-icon-center {
    align-content: center
}


.upload-submit-button-position {
  text-align: right;
  padding-top: 10px;
}

.upload-button {
  background: inherit !important;
  color: white !important;
  font-size: 16px !important;
  margin-right: 12px;
  /*padding-left: 7px;*/
  padding: 0px 9px 0px 4px;
  min-height: 36px !important;
  min-width: 76.53px !important;
  position: relative;
  /*float: right !important;
  margin-top: 2%;*/
}

.submit-button {
  background: inherit !important;
  color: white !important;
  min-height: 36px !important;
  min-width: 76.53px !important;
  /*position: absolute;*/
  /*float: right !important;
  margin-top: 2%;*/
}

.mat-column-ItemName {
    width: 50% !important;
}

.add-row {
    margin-top: 4%;
    float: right;
}

.mat-column-Quantity {
    width: 40% !important;
}

.mat-column-action {
    width: 10% !important;
}

:host ::ng-deep .mat-column-ItemName div.mat-form-field-infix,
:host ::ng-deep .mat-column-Quantity div.mat-form-field-infix,
:host ::ng-deep .mat-column-action div.mat-form-field-infix {
  color: white;
  width: 33% !important;
}

:host ::ng-deep .mat-select-arrow  {
  color: white;
}
