.action-buttons {
  float: right;
}

.action-buttons .mat-raised-button {
  min-height: 30px;
  border: 0.5px solid;
  border-radius: 5px;
  padding: 1px 10px;
  border-color: #42e6a4;
  color: white;
  background-color: #1c1e2f;
}
