<mat-card class="example-card">
    <mat-card-header>
    <mat-card-title >
    Bulk Request
    </mat-card-title>
</mat-card-header>
    <mat-divider class="divider-position"></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <h3 mat-line>Request Status : {{requestStatus}} </h3>
            </mat-list-item>
            <mat-list-item>
            <h3 mat-line>Requested By : {{requestedBy}}</h3>
            </mat-list-item>
            <mat-list-item>
                <h3 mat-line>Employee ID : {{empId}} </h3>
            </mat-list-item>
            <mat-list-item>
            <h3 mat-line>Requested Made On Date : {{requestMadeOnDate}}</h3>
            </mat-list-item>
            <mat-list-item>
                <h3 mat-line>Requested For Date : {{requestedForDate}} </h3>
            </mat-list-item>
            <mat-list-item>
                <h3 mat-line>Reason for bulk request : {{reasonForRequest}}</h3>
            </mat-list-item>
        </mat-list>
        <button (click)="openDialog()">add</button>
        
    </mat-card-content>
</mat-card>

