<mat-card class="example-card">
    <mat-card-title class="card-title">
        Bulk Order Request
    </mat-card-title>
    <mat-divider class="divider-position"></mat-divider>
    <mat-card-content>
        <h4>Requested By:</h4>
        <h4>Employee ID:</h4>
        <h4>Requirement Date:</h4>
        <h4>Reason For </h4>
        <p></p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-title class="card-title">
        Bulk Order Request
    </mat-card-title>
    <mat-divider class="divider-position"></mat-divider>
    <mat-card-content>
        <h4>Requested By:</h4>
        <h4>Employee ID:</h4>
        <h4>Requirement Date:</h4>
        <h4>Reason For </h4>
        <p></p>
    </mat-card-content>
</mat-card>
