<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<form class="form-container" [formGroup]="createItemForm" (ngSubmit)="submitForm()" enctype="multipart/form-data">
    <div class="one-row">
        <mat-form-field hideRequiredMarker="false" floatLabel="auto">
            <input matInput formControlName="name" placeholder="Item Name" required>
            <mat-error *ngIf="name.invalid">Invalid Item Name</mat-error>
            <mat-error *ngIf="name.errors?.minlength">Length{{name.errors.minlength.requiredLength}}
            </mat-error>
        </mat-form-field>
        <mat-form-field hideRequiredMarker="false" floatLabel="auto">
            <input type="number" min="0" matInput formControlName="rate" placeholder="Rate" required>
            <mat-error *ngIf="rate.invalid">Invalid Rate</mat-error>
        </mat-form-field>
    </div>
    <div class="one-row">
        <mat-form-field hideRequiredMarker="false" floatLabel="auto">
            <input type="number" min="0" matInput formControlName="maxLimit" placeholder="Maximum Limit" required>
            <mat-error *ngIf="maxLimit.invalid">Invalid maximum limit</mat-error>
        </mat-form-field>
        <div class="input-button-upload">
            <label for="file-upload-input">
                <!-- <img src="https://goo.gl/pB9rpQ" /> -->
                <div class="image-upload-section">
                    <mat-icon id="update-icon">cloud_upload</mat-icon><p id="upload-image-text">Upload Image</p>

                </div>
            </label>
            <input type="file" id="file-upload-input" style="border-radius: 5px;" (change)="onFileChanged($event)" name="FileToUpload" #fileInput>

        </div>
    </div>
    <div class="one-row">
        <mat-form-field hideRequiredMarker="false" floatLabel="auto">
            <input type="number" min="0" matInput formControlName="shelvesRedLimit" placeholder="Shelves Red Limit" required>
            <mat-error *ngIf="shelvesRedLimit.invalid">Invalid Shelves Red limit</mat-error>
        </mat-form-field>
        <mat-form-field hideRequiredMarker="false" floatLabel="auto">
            <input type="number" min="0" matInput formControlName="shelvesAmberLimit" placeholder="Shelves Amber Limit" required>
            <mat-error *ngIf="shelvesAmberLimit.invalid">Invalid Shelves Amber limit</mat-error>
        </mat-form-field>
    </div>
    <div class="one-row">
        <mat-form-field hideRequiredMarker="false" floatLabel="auto">
            <input type="number" min="0" matInput formControlName="warehouseRedLimit" placeholder="Warehouse Red Limit" required>
            <mat-error *ngIf="warehouseRedLimit.invalid">Invalid Warehouses Red limit</mat-error>
        </mat-form-field>
        <mat-form-field hideRequiredMarker="false" floatLabel="auto">
            <input type="number" min="0" matInput formControlName="warehouseAmberLimit" placeholder="Warehouse Amber Limit" required>
            <mat-error *ngIf="warehouseAmberLimit.invalid">Invalid Warehouse Amber limit</mat-error>
        </mat-form-field>
    </div>
    <br><br>
    <div class="action-buttons one-row">
        <div class="position-of-buttons">
            <button *ngIf="isEditItemForm==null" [disabled]="!createItemForm.valid" mat-button type="submit" class="submit-update">
                {{submitButtonText}}<app-spinning-loader></app-spinning-loader>
            </button>
            <button *ngIf="isEditItemForm==true" [disabled]="!createItemForm.valid" mat-button type="submit" class="submit-update">
                {{updateButtonText}}<app-spinning-loader></app-spinning-loader>
            </button>
            <button *ngIf="isEditItemForm==null" mat-button type="button" (click)="cancelCreate()" class="cancel">Cancel</button>
            <button *ngIf="isEditItemForm==true" mat-button type="button" (click)="cancelUpdate()" class="cancel">Cancel</button>
        </div>
    </div>
</form>