<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Itemname Column -->
  <ng-container matColumnDef="itemName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Item name</th>
    <td mat-cell *matCellDef="let element"> {{element.itemname}} </td>
  </ng-container>

  <!-- Max Quantity Column -->
  <ng-container matColumnDef="maxLimit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Limit </th>
    <td mat-cell *matCellDef="let element"> {{element.maxLimit}} </td>
  </ng-container>

  <!-- Rate Column -->
  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
    <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
  </ng-container>

  <!-- Shelf limit Red Column -->
  <ng-container matColumnDef="shelfRedLimit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Shelf Red Limit </th>
    <td mat-cell *matCellDef="let element"> {{element.shelfRedLimit}} </td>
  </ng-container>

  <!-- Shelf limit Amber Column -->
  <ng-container matColumnDef="shelfAmberLimit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Shelf Amber Limit </th>
    <td mat-cell *matCellDef="let element"> {{element.shelfAmberLimit}} </td>
  </ng-container>

  <!-- Warehouse limit Red Column -->
  <ng-container matColumnDef="warehouseRedLimit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse Red Limit </th>
    <td mat-cell *matCellDef="let element"> {{element.warehouseRedLimit}} </td>
  </ng-container>

  <!-- Warehouse limit Amber Column -->
  <ng-container matColumnDef="warehouseAmberLimit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse Amber Limit </th>
    <td mat-cell *matCellDef="let element"> {{element.warehouseAmberLimit}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editItemDetails(element)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="deactivateUser(element)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
