<button id="add-item" mat-button (click)="openAddItemDialog()">Add Item</button>
<input class="filter-input" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
<table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns; let i =  index">
        <ng-container *ngIf="i<numberOfColumns()">
            <th mat-header-cell *matHeaderCellDef> {{column | humanize}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
        <ng-container *ngIf="i==numberOfColumns()">
            <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="editItemDetails(element)">
                <mat-icon>edit</mat-icon>
            </button>
                <button mat-icon-button (click)="deactivateItem(element)">
                <mat-icon >delete</mat-icon >
            </button>
            </td>
        </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>