<div class="logout" (click)="logout()">
  <mat-icon class="logout-button">power_settings_new</mat-icon>
</div>

<div class="login-page">
  <img id="image-container" src="../../../assets/IMS.Images/LoginPage.jpg">
  <div class="card">
    <div class="floor">
      <img src="../../../assets/IMS.Images/floor_grey.png" alt="{{ShelfName}}">
    </div>
    <h6 class="title">
      {{ShelfName}}
    </h6>
  </div>
  <div class="input-box">
    <p class="invalid-employee" *ngIf="errorMessage">{{errorMessage}}</p>

    <form class="form-input" autocomplete="off">
      <input type="text" maxlength="4" matInput [(ngModel)]="employeeID" [ngModelOptions]="{standalone: true}"
        id="employee-id" placeholder="Enter Employee ID" required />

      <br>

      <button mat-raised-button class="button-properties" (click)="employeeValidation()">
        <app-spinning-loader></app-spinning-loader>{{buttonName}}
      </button>  
    </form>
  </div>
</div>