.floor-page {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 28em;
  height: 24em;
  margin-top: -12em;
  margin-left: -14em;
  text-align: center;
}

.floor > img {
  vertical-align: middle;
  position: relative;
  top: 5px;
  flex: 1 1 auto;
}

.floor {
  display: flex;
}

#image-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.floor-title {
  font-size: xx-large;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 28em;
  margin-top: -4em;
  margin-left: -14em;
  text-align: center;
}

.cards {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  width: 24rem;
  height: 14em;
  margin-top: -5em;
  margin-left: -12em;
  text-align: center;
}

.all-floors {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background: #2b2f4c;
  left: 4px;
  display: inline-block;
  width: 99px;
  border: 0px;
  margin: 2%;
  box-sizing: border-box;
  height: max-content;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
  -moz-box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
  -o-box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
  box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
  background: #5e7af5;
}

.title {
  font-size: 14px;
}
