/*
.floor-image {
    position: relative;
    background-image: url('../../../assets/IMS.Images/Floor_Select.png');
    width: 60vw;
    height: 40vw;
    background-position: center;
    background-repeat: none;
    /* border: 4px solid red; */
/* }  */
/*

.title {
    color: aliceblue;
    text-align: center;
}

.heading {
    position: absolute;
    top: 33%;
    left: 42%;
    color: aliceblue;
}

.card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
    -moz-box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
    -o-box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
    box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
    background: #5e7af5;
}

.cards {
    position: relative;
    height: 100%;
    /* align-items: center;
  justify-content: center;
  border:4px solid blue ; */
/* } */
/* 
.card {
    position: relative;
    background: #2B2F4C;
    display: inline-block;
    width: 100px;
    height: 133px;
    border: 2px solid #5e7af5;
    margin: 2%;
    top: 45%;
    left: 37%;
    box-sizing: border-box;
    border-radius: 16px;
}

:host ::ng-deep .cdk-overlay-pane {
    max-width: none;
    max-height: none;
    min-width: 100vw;
    min-height: 100vh;
}

:host ::ng-deep .cdk-overlay-dark-backdrop {
    background: rgb(28, 30, 47);
}

::ng-deep .mat-dialog-container {
    display: block;
    margin: -13% !important;
    padding-left: 25% !important;
    padding-top: 9% !important;
    padding-bottom: 5% !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    outline: 0 !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12) !important;
    background: #1c1e2f !important;
    color: rgba(0,0,0,.87) !important;
} */


.floor-page {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 28em;
    height: 24em;
    margin-top: -12em;
    /*set to a negative number 1/2 of your height*/
    margin-left: -14em;
    /*set to a negative number 1/2 of your width*/
    text-align: center;
    /* border: 4px solid white; */
}

#image-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.floor-title {
    position: absolute;
    top: 85px;
    left: 150px;
    font-size: xx-large;
    color: white;
}

.cards {
    position: relative;
    /* align-items: center;
  justify-content: center;
  border:4px solid blue ; */
}

.card {
    position: relative;
    background: #2B2F4C;
    display: inline-block;
    width: 100px;
    height: 133px;
    border: 2px solid #5e7af5;
    margin: 2%;
    box-sizing: border-box;
    border-radius: 16px;
    bottom: 215px;
}

.card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
    -moz-box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
    -o-box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
    box-shadow: 0px 0px 30px #5e7af5, inset 0px 0px 30px #5e7af5;
    background: #5e7af5;
}

.title {
    color: aliceblue;
    text-align: center;
}

:host ::ng-deep .cdk-overlay-pane {
    max-width: none;
    max-height: none;
    min-width: 100vw;
    min-height: 100vh;
}

:host ::ng-deep .cdk-overlay-dark-backdrop {
    background: rgb(28, 30, 47);
}

::ng-deep .mat-dialog-container {
    display: block;
    margin: -13% !important;
    padding-left: 25% !important;
    padding-top: 9% !important;
    padding-bottom: 5% !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    outline: 0 !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12) !important;
    background: #1c1e2f !important;
    color: rgba(0,0,0,.87) !important;
}
