<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
    <div>
        <table mat-table [dataSource]="selectedItems">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef class="table-text-left"> No. </th>
                <td mat-cell *matCellDef="let element;index as i" class="table-text-left">
                    {{i+1}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="table-text-left"> Name </th>
                <td mat-cell *matCellDef="let element" class="table-text-left"> {{element.item.name}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef class="table-text-left"> Quantity
                </th>
                <td mat-cell *matCellDef="let element" class="table-text-left">
                    <span class="stepper">
                        <button class="minus" (click)="minus(element)">–</button>
                        <input type="number" id="stepper" value="{{element.quantity}}" min="0"
                            max="{{element.item.maxLimit}}" readonly>
                        <button class="plus" (click)="plus(element)">+</button>
                    </span>
                </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Symbol">
                <th mat-header-cell *matHeaderCellDef class="table-button"></th>
                <td mat-cell *matCellDef="let element" (click)="delete(element)" class="table-button">
                    <mat-icon style="cursor: pointer;">delete</mat-icon>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="action-buttons">
            <mat-dialog-actions>
                <ng-container ngProjectAs="btn-close">
                    <button mat-button class="clear-button"
                        (click)="onCancel()">
                        Clear Cart
                    </button>
                </ng-container>
                <button mat-button class="order-button"
                    (click)="onMakingOrder()" cdkFocusInitial>
                    <app-spinning-loader></app-spinning-loader>{{ButtonName}}
                </button>
            </mat-dialog-actions>
        </div>
    </div>
</div>