@import '~@angular/material/theming';
$my-custom-primary-color: (
  50: #E4E5E7,
  100 : #BDBDC3,
  200 : #91929B,
  300 : #646673,
  400 : #434555,
  500 : #222437,
  600 : #1E2031,
  700 : #191B2A,
  800 : #141623,
  900 : #0C0D16,
  A100 : #5971FF,
  A200 : #2645FF,
  A400 : #0023F2,
  A700 : #001FD9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
 
$my-custom-accent-color: (
  50 : #E4E4E6,
  100 : #BBBCC1,
  200 : #8E8F97,
  300 : #60626D,
  400 : #3E404E,
  500 : #1C1E2F,
  600 : #191A2A,
  700 : #141623,
  800 : #11121D,
  900 : #090A12,
  A100 : #5656FF,
  A200 : #2323FF,
  A400 : #0000EF,
  A700 : #0000D5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


@include mat-core();
$my-custom-primary: mat-palette($my-custom-primary-color);
$my-custom-accent: mat-palette($my-custom-accent-color, 100, 500, A100);
// $my-custom-warn: mat-palette($mat-lime);
$my-custom-theme: mat-dark-theme($my-custom-primary, $my-custom-accent);
@include angular-material-theme($my-custom-theme);