/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  height: 100vh;
  background-color: #1c1e2f;
}

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

.snackbar-warn{
  background-color: rgb(153, 50, 50);
}
.snackbar-success{
  background-color: rgb(29, 102, 29);
}

.snackbar-message{
  background-color: rgb(153, 50, 50);
}

.mat-snack-bar-container {
  text-align: center;
  background-color:white;
}