/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */

body {
  height: 100vh;
}

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

.snackbar-warn {
  background-color: #da2d2d;
  color: white;
}
.snackbar-success {
  background-color: #50d890;
  color: #1c1e2f;
}

.snackbar-message {
  background-color: slategray;
  color: white;
}

.mat-snack-bar-container {
  text-align: center;
}

.dialog-user-manage mat-dialog-container {
  background-color: #222437;
  color: aliceblue;
}

.dialog-floor-select mat-dialog-container {
  border-radius: 4px;
}

.dialog-edit-store mat-dialog-container {
  background-color: #222437;
  color: aliceblue;
}

.dialog-order-success mat-dialog-container {
  background-color: #222437;
  color: aliceblue;
  border-radius: 4px;
}

.dialog-notification-image mat-dialog-container {
  top: 30%;
  left: 6%;
}

h1, h2, h3, h4, h4, h6{
  color: white;
}