.heading {
  overflow: hidden;
  position: relative;
}

.dialog-form {
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

::ng-deep .mat-tab-label {
  padding: 0;
  color: white;
  margin: auto;
}

.dialog-content {
  margin: 0;
  margin-top: 12px;
  padding: 0;
  max-height: 65vh;
  overflow: hidden;
}

.position-of-buttons {
  position: absolute;
  bottom: 1px;
  right: 0;
  display: flex;
}

.mat-raised-button {
  margin: 1%;
  color: white;
  border: 0.5px solid grey;
  background-color: transparent;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  opacity: 1 !important;
  background-color: #606a9E;
}

::ng-deep .mat-ink-bar {
  display: none;
}

/* ::ng-deep .mat-dialog-container {
  background-color: #222437;
  color: aliceblue;
} */

.mat-raised-button:not(:disabled) {
  color: white;
  border: 0.5px solid grey;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: white;
}

.matformfield  {
  margin: 0 1%;
}

.mat-form-field .mat-input-element {
  color: white;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

.mat-raised-button[disabled] {
  color: slategray;
  border: 0.5px solid slategray;
}

:host ::ng-deep .mat-tab-header-pagination-chevron {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  height: 8px;
  border-color: aliceblue;
  width: 8px;
}

:host ::ng-deep .mat-tab-body.mat-tab-body-active {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 171px;
  z-index: 1;
  flex-grow: 1;
}

:host ::ng-deep .mat-dialog-container {
  display: block;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

[type=submit]:not(:disabled) {
  color: white;
  border: 0.5px solid aquamarine;
}

::host ::ng-deep .mat-form-field-underline {
  display: none;
}

.mat-form-field-label {
  color: #f5f5f5;
}

:host ::ng-deep .mat-focused .mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #f5f5f5 !important;
}

input.mat-input-element {
  color: #f5f5f5;
}

:host ::ng-deep .mat-form-field-label {
  /*change color of label when focused*/
  color: #f5f5f5 !important;
}


.mat-form-field-appearance-outline .mat-hint {
  color: #808e9c;
}