<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="items-container">
    <div class="flex-container">
        <div class="container">
            <h4>Data</h4>
            <table mat-table [dataSource]="dataSource">
                <ng-container *ngFor="let columns of columnsToDisplay" [matColumnDef]="columns">
                    <th mat-header-cell *matHeaderCellDef>{{columns}}</th>
                    <td class="example-element-row" mat-cell *matCellDef="let element">{{element[columns]}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr class="example-element-row" mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
        </div>
    </div>
</div>