<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="items-container">
    <div class="flex-container">
        <div class="container">
            <h4>Data</h4>
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail" class="mat-elevation-z8">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <table class="inner-table" mat-table [dataSource]="element.innerData">
                                <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of element.innerColumns">
                                    <th mat-header-cell *matHeaderCellDef> {{innerColumn}} </th>
                                    <td mat-cell *matCellDef="let innerRow"> {{innerRow[innerColumn]}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="element.innerColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: element.innerColumns;"></tr>
                            </table>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

                <ng-container *ngIf="hasExpandableRows()">
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </ng-container>

                <ng-container *ngIf="!hasExpandableRows()">
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"></tr>
                </ng-container>



            </table>
        </div>
    </div>
</div>