<mat-card>
    <div class="dropdownBoxes">
        <div class="content">
            <mat-nav-list class="list-horizontal" role="list">
                <mat-list-item class="mat-list-item" role="listitem" *ngFor="let dropDown of dropdownListDatas">

                    <mat-select class="dropDownList" placeholder="{{dropDown.placeHolderName}}" matNativeControl required>
                        <mat-option *ngFor="let dropDownOption of dropDown.dropDownOptions" value="{{dropDownOption}}">
                            {{dropDownOption}}</mat-option>
                    </mat-select>

                </mat-list-item>

                <button mat-raised-button color="primary" style="outline: none;">Search</button>
            </mat-nav-list>

        </div>
    </div>
</mat-card>