<div class="login-page">
    <img id="image-container" src="../../../assets/IMS.Images/LoginPage.jpg">
    <div class="text-block">
        <p style="font-size: smaller;">Tavisca IMS</p>
    </div>
    <div class="user-id-input-box">
        <p class="invalid-user" *ngIf="error">Invalid username or password</p>
        <form class="form-input">
            <input type="password" class="id" [(ngModel)]="OldPassword" matInput [ngModelOptions]="{standalone: true}"
                placeholder="Enter old password" required />
            <input type="password" class="password" [(ngModel)]="NewPassword" matInput [ngModelOptions]="{standalone: true}"
                placeholder="Password" required />
            <input type="password" class="password" [(ngModel)]="ConfimPassword" matInput [ngModelOptions]="{standalone: true}"
                placeholder="Password" required />
            <div>
                <button mat-raised-button class="button-properties" (click)=Login()>
                    <app-spinning-loader></app-spinning-loader>{{ButtonName}}
                </button>
            </div>

        </form>
    </div>
</div>