<div class="login-page">
    <img id="image-container" src="../../../assets/IMS.Images/LoginPage.jpg">
    <div class="text-block">
        <p style="font-size: smaller;">Tavisca IMS</p>
    </div>
    <div class="user-id-input-box">
        <p class="invalid-user" *ngIf="!validPasswords()">{{errorMessage}}</p>
        <form class="form-input">
            <input type="password" class="password" [(ngModel)]="oldPassword" matInput [ngModelOptions]="{standalone: true}"
                placeholder="Enter old password" required />
            <input type="password" class="password" [(ngModel)]="newPassword" matInput [ngModelOptions]="{standalone: true}"
                placeholder="New Password" required />
            <input type="password" class="password" [(ngModel)]="confirmPassword" matInput [ngModelOptions]="{standalone: true}"
                placeholder="Confirm Password" required />
            
            <div>
                <button mat-raised-button class="button-properties" (click)=update()
                 [disabled]="!canUpdate()">
                    Update
                </button>
                <button mat-raised-button *ngIf="loggedInUser.isDefaultPasswordChanged" class="button-properties" (click)=cancel()>
                    Cancel
                </button>
            </div>

        </form>
    </div>
</div>