::ng-deep .mat-tab-label .mat-tab-label-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: white;
    height: 65px;
    min-width: 190px;
}

mat-card {
    padding: 50px;
    margin: 20px;
    background-color: rgb(34, 36, 55);
}

.dropdownBoxes {
    position: relative;
}

mat-nav-list.list-horizontal {
    padding: 0;
}

mat-list-item {
    display: inline-block;
}

.mat-list-base {
    display: flex;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    display: block;
    height: 45px;
    -webkit-tap-highlight-color: transparent;
    width: 460px;
    padding: 0;
}

::ng-deep .mat-select-value {
    display: table-cell;
    max-width: 0;
    padding: 3%;
    width: 100%;
    overflow: hidden;
    padding: 2%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropDownList {
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: white;
    height: 100%;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
    background-color: #333748;
    height: 45px;
    margin-left: 16px;
}

::ng-deep input.mat-input-element {
    margin-top: -.0625em;
    width: 100%;
    padding: 3%;
    border-radius: 4px;
    border: none;
    background-color: white;
    height: 100%;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}