<mat-tab-group dynamicHeight (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="selectedTab">
    <mat-tab mat-stretch-tabs *ngFor="let reportsData of reportsSelectionData; let i = index" label="{{ reportsData.reportName }}">
        <!-- <app-reports-filter [reportsFilterDataList]="reportsData.reportsFilterOptions"></app-reports-filter> -->
        <mat-card>
            <div class="dropdownBoxes">
                <div class="content">
                    <mat-nav-list class="list-horizontal" role="list">
                        <mat-list-item class="list-item" role="listitem" *ngFor="let reportsData of reportsData.reportsFilterOptions">
                            <ng-container *ngIf="reportsData.type == 'dropDown'">
                                <mat-select id="{{ reportsData.placeHolderName }}" class="dropDownList" placeholder="{{ reportsData.placeHolderName }}" [(value)]="reportsData.dataFromUser" matNativeControl required>
                                    <mat-option class="mat-option-dropDown" *ngFor="let item of reportsData.dropDownOptions;let i=index" value="{{reportsData.dropDownValues[i]}}">
                                        {{ item }}</mat-option>
                                </mat-select>
                            </ng-container>

                            <ng-container *ngIf="reportsData.type == 'datePicker'">
                                <input class="report-page-input-field" autocomplete="off" matInput [matDatepicker]="picker" [(ngModel)]="reportsData.dataFromUser" [max]="reportsData.endDate" (click)="picker.open()" placeholder="{{ reportsData.placeHolderName }}">
                                <mat-datepicker #picker></mat-datepicker>
                            </ng-container>

                            <ng-container *ngIf="reportsData.type == 'input'">
                                <input class="report-page-input-field" autocomplete="off" [(ngModel)]="reportsData.dataFromUser" placeholder="{{ reportsData.placeHolderName }}">
                            </ng-container>
                        </mat-list-item>

                        <button class="submit-button" (click)="searchButtonClicked()" style="outline: none;">
                            GO
                        </button>
                    </mat-nav-list>
                </div>
            </div>
        </mat-card>
    </mat-tab>
</mat-tab-group>

<app-reports-table [errorMessage]="errorMessage" [columnsToDisplay]='columnToDisplay' [dataSource]='dataToDisplay' (paginatorClicked)="paginatorClicked($event)" [pageInfo]="pageInfo"></app-reports-table>