<mat-tab-group dynamicHeight>

    <mat-tab *ngFor="let reportsData of reportsSelectionData" label="{{reportsData.reportName}}">
        <!-- <app-reports-filter [reportsFilterDataList]="reportsData.reportsFilterOptions"></app-reports-filter> -->
        <mat-card>
            <div class="dropdownBoxes">
                <div class="content">
                    <mat-nav-list class="list-horizontal" role="list">

                        <mat-list-item class="mat-list-item" role="listitem" *ngFor="let reportsData of reportsData.reportsFilterOptions">

                            <ng-container *ngIf="reportsData.type == 'dropDown'">
                                <mat-select class="dropDownList" placeholder="{{reportsData.placeHolderName}}" matNativeControl required>
                                    <mat-option *ngFor="let item of reportsData.dropDownOptions" value="{{item}}">
                                        {{item}}</mat-option>
                                </mat-select>
                            </ng-container>

                            <ng-container *ngIf="reportsData.type== 'datePicker'">
                                <input matInput [matDatepicker]="picker" placeholder="{{reportsData.placeHolderName}}">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </ng-container>

                        </mat-list-item>

                        <button mat-raised-button color="primary" style="outline: none;">Search</button>
                    </mat-nav-list>

                </div>
            </div>
        </mat-card>

    </mat-tab>


</mat-tab-group>