.invoice-order-position{
 display: flex;
}

.vendor {
  float: left;
  width: 35%;
  margin-left:5%;
}
.order{
  float:left;
  width:50%;
  margin-left:1%
}
h2{
  padding-left:5%;
  padding-top:1%;
  color:#f0f8ff;
  font-size:24px;
}
