<table mat-table [dataSource]="datasource" class="mat-elevation-z8 data-table" > 

    <ng-container *ngFor="let column of columnHeader" [cdkColumnDef]="column.columnDef">
    
    <mat-header-cell *cdkHeaderCellDef style="text-align:center" mat-sort-header>{{ column.header }}
        <div *ngIf="column.columnDef == 'actions'">
        
        </div>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let row">
    
        <!-- <mat-form-field style="width: 80%;" appearance="outline" class="form-field-size">              
            <mat-select [(ngModel)]="element.item">
              <mat-option *ngFor="let Item of Items" [value]="Item" [disabled]="isItemAlreadySelected(Item)">
                {{Item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

           <div *ngIf="column.columnDef == 'itemName'">
            <mat-form-field style="width: 80%;" appearance="outline" class="form-field-size" > 
            <mat-select  (selectionChange)="selectedOption(row,$event)" placeholder= "{{ column.cell(row) }}">
                <mat-option  *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>  
        </mat-form-field> 
            </div>
           <div *ngIf="column.columnDef == 'Quantity'">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput value="{{ column.cell(row) }}" (keyup)="changequantity(row,$event)">
                </mat-form-field>
              </form>
           </div>
           <div *ngIf="column.columnDef == 'Price'">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput value="{{ column.cell(row) }}" (keyup)="changeprice(row,$event)">
                </mat-form-field>
              </form>
            </div>
            

           <div title="delete" *ngIf="column.columnDef === 'actions' ">
    
               <button mat-icon-button class="action-buttons">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="deletedata(row)">delete</mat-icon>
               </button>
               <ng-container *ngIf="show">
               <button mat-icon-button class="action-buttons">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">edit </mat-icon>
               </button>
           </ng-container>
           </div>  
           
    </mat-cell>   
    <mat-footer-cell *cdkFooterCellDef>
      <div *ngIf="column.columnDef == 'actions'">
        
        <button mat-raised-button class="Add-icon" (click)="AddRow()">
            <mat-icon class="icon">add</mat-icon>Add
          </button>
          </div> 
          <div *ngIf="column.columnDef == 'itemName'">
        
           TOTAL
              </div>
              
              <div *ngIf="column.columnDef == 'Price'">
        
                {{getTotalCost() | currency:"₹"}}
                  </div> 
    </mat-footer-cell>
    
    <!-- <ng-container cdkColumnDef="aloo">
        <mat-footer-cell *cdkFooterCellDef>
          <p>hii</p>
        </mat-footer-cell>>
      </ng-container> -->

    </ng-container>
   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *cdkFooterRowDef="displayedColumns"></mat-footer-row>
   
     </table>
