<mat-card class="bulk-order-card">
    <mat-card-header>
        <mat-card-title>{{ItemName}}</mat-card-title>
        <mat-card-subtitle>Quantity Ordered : {{ItemQuantity}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="bulk-card-content">
        <div class="form-label-inclosing-class">
            <div class="form-labels-input" *ngFor="let shelf of allShelfs">
                <div>{{shelf.location}}</div>
                <div>
                    <form class="example-form">
                        <mat-form-field appearance="outline" class="example-full-width">
                            <input matInput value="{{shelf.quantity}}" disabled="true">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <input matInput name="itemAlloted" [(ngModel)]="shelf.quantitySelected">
                        </mat-form-field>
                    </form>
                </div>

            </div>
        </div>
    </mat-card-content>
</mat-card>

<div class="action-buttons one-row">
    <div class="position-of-buttons">
        <button mat-button (click)="SubmitClicked()" class="submit-update">
        {{submitButtonText}}<app-spinning-loader></app-spinning-loader></button>
        <button mat-button (click)="cancelClikced()" class="cancel">Cancel</button>
    </div>
</div>