<div class="login-page">
  <div class="login-page__sign-up-section">
    <div class="sign-upp-section__logo-section">
      <img src="assets/IMS.Images/ims_logo.png" alt="IMS Logo" />
    </div>
    <div class="login-page__credential-section">
      <div class="credential-section__form">
        <form class="form-input">
          <p class="invalid-user" *ngIf="error">Invalid username or password</p>
          <mat-form-field floatPlaceholder="never" class="full-width">
            <input type="text" [(ngModel)]="Username" matInput [ngModelOptions]="{standalone: true}" required />
            <mat-placeholder>Enter User ID</mat-placeholder>
          </mat-form-field>
          <mat-form-field floatPlaceholder="never" class="full-width">
            <input type="password" [(ngModel)]="Password" matInput [ngModelOptions]="{standalone: true}" required />
            <mat-placeholder>Password</mat-placeholder>
          </mat-form-field>
          <br />
          <button mat-raised-button class="button-properties" (click)=Login()>
          <app-spinning-loader></app-spinning-loader>{{ButtonName}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
