.login-page {
  background-color: #efefef;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.invalid-user {
  color: red;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.mat-form-field-infix {
  display: flex;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 100%;
}
.login-page__sign-up-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0 20%;
  width: 60%;
}

.login-page__sign-up-section div {
  height: 300px;
  margin: 0% 0;
  display: flex;
  width: 100%;
}

.sign-upp-section__logo-section {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 52%;
}

.login-page__credential-section {
  background-color: #ffffff;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 48%;
}

.credential-section__form {
  border-style: none;
  position: relative;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
  margin: 10%;
  padding: 10% 10% 10%;
}

.button-properties {
  background: linear-gradient(100.43deg, #0094ff 0%, #3d23ff 95.74%);
  position: absolute;
  border-radius: 5px;
  left: 0px;
  color: white;
  font-size: 1.1rem !important;
  height: 40px;
  width: 100%;
}

img {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  height: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
