.image-container > img {
  width: 30%;
  height: 30%;
}

.image-container {
  display: flex;
  justify-content: space-around;
}

.container {
  padding: 0px;
}

.greeting-text {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.sub-text {
  display: flex;
  justify-content: center;
}
