<div class="container">
    <div class="image-container" style="display: flex; justify-content: space-around; padding-top: 10px;">
        <img src="../../../../../assets/accept.svg">
    </div>
    <div class="greeting-text" style="display: flex; justify-content: center; padding-top: 50px;">
        <h1>Thank you!</h1>
    </div>
    <div class="sub-text" style="display: flex; justify-content: center;">
        <h5>Your order is placed, You can now collect the items.</h5>
    </div>
    <div class="email-text" style="display: flex; justify-content: flex-end; padding-top: 40px;">
        <p>*Your order summary has been mailed to you.</p>
    </div>
</div>
