<div class="container">
    <div class="image-container" style="display: flex; justify-content: space-around;">
        <img src="../../../../../assets/accept.svg">
    </div>
    <div class="greeting-text" style="display: flex; justify-content: center; padding-top: 40px; padding-bottom: 20px;">
        <h1>Success!</h1>
    </div>
    <div class="sub-text" style="display: flex; justify-content: center;">
        <h5>Your order is placed,</h5>
    </div>
    <div class="sub-text" style="display: flex; justify-content: center;">
        <h6>You can now collect the items.</h6>
    </div>
</div>
