<mat-card class="chart-card">
  <div class="chartjs-size-monitor">
    <div class="chartjs-size-monitor-expand">
      <div class=""></div>
    </div>
    <div class="chartjs-size-monitor-shrink">
      <div class=""></div>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="font-weight-normal text-black">{{ragData.name}}</h1>
    </div>
  </div>
  <canvas height="370" [id]="ragData.name" style="margin-bottom: 10px; margin-top: 10px;" width="670"
    class="chartjs-render-monitor"></canvas>
  </mat-card>