.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card .card-body {
    padding: 0.8em 0.25rem;
}

.justify-content-center,
.email-wrapper .mail-view .message-body .attachments-sections ul li .thumb {
    justify-content: center !important;
}

.flex-column,
.nav-tabs.nav-tabs-vertical,
.nav-tabs.nav-tabs-vertical-custom,
.nav-pills.nav-pills-vertical,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user {
    flex-direction: column !important;
}

.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms;
}

.grid-margin {
    margin-bottom: 1.875rem;
}

.card {
    width: 100%;
    min-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #1f2132;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0.625rem;
    margin-top: 20px;
    /* margin-top: 20px;
  margin: 0px; */
    border: 0.5px solid transparent;
    box-shadow: 5px 11px 23px -13px #191b28;
    -webkit-box-shadow: 5px 11px 23px -13px #191b28;
    -moz-box-shadow: 5px 11px 23px -13px #191b28;
    -ms-box-shadow: 5px 11px 23px -13px #191b28;
}

h1 {
    font-size: 1.5rem;
    color: white;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 30.333333%;
}

.content-wrapper {
    background: #1c1e2f;
    padding: 1.1rem 2.5rem 2.5rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}