<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-card class="chart-card">
    <!-- <mat-card-header> -->
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
            <i class="fa fa-refresh" (click)="onRefresh()" id="refreshPie"></i>
            <div class="dropdown">
                <button mat-button [matMenuTriggerFor]="beforeMenu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="dateChange($event)" value="7">7 days ago</button>
                    <button mat-menu-item (click)="dateChange($event)" value="14">14 days ago</button>
                </mat-menu>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center" >
            <h3 >Frequently Used Item</h3>
        </div>
    </div>
    <!-- </mat-card-header> -->
    <mat-card-content class="canvas-container">
        <canvas id="pie-chart" class="chartjs-render-monitor">
        </canvas>
    </mat-card-content>
</mat-card>